@font-face {
	src: url("../fonts/files/normal.ttf");
	font-family: "Open Sans";
	font-weight: 300 800;
}

@font-face {
	src: url("../fonts/files/mono.ttf");
	font-family: "Jetbrains Mono";
	font-weight: 100 800;
}
